.kt-chart__widget{
  padding: 25px;
    &.kt-chart__widget--no-padding {
        padding: 0;
    }

    .kt-chart__widget_header {
        padding: 0.5rem 0 1.1rem 0;
        margin-bottom: 0.5rem;

        .kt-chart__widget_title {
            font-size: 1.3rem;
            font-weight: 500;
            margin-bottom: 0;
            color: kt-base-color(label, 3);
        }

        .kt-chart__widget_desc {
            display: inline-block;
            margin-top: 0.2rem;
            color: kt-base-color(label, 2);
        }             
    }

    .kt-chart__widget_content {
        display: flex;
        padding-bottom: 1rem;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .kt-chart__widget_item {
            display: flex;
            margin-bottom: 2.5rem;
            align-items: center;

            .kt-chart__widget_info {
                flex: 1;

                .kt-chart__widget_desc {
                    font-size: 1rem;
                    color: kt-base-color(label, 2);
                    padding-bottom: 0.5rem;
                    font-weight: 500;
                    display: block;
                }

                .kt-chart__widget_value {
                    font-size: 1.4rem;
                    font-weight: 600;
                    color: kt-base-color(label, 3);
                    display: block;
                }
            }
        }
    }

    .kt-chart__widget_legends {
        padding-left: 2rem;  
        padding-top: 2rem;
        flex-grow: 1;
            
        .kt-chart__widget_legend {
            display: flex;          
            align-items: center;  

            .kt-chart__widget_bullet {
                width: 1.5rem;
                height: 0.45rem;                   
                border-radius: 1.1rem;                                         
            }
                    
            .kt-chart__widget_stats {
                color: kt-base-color(label, 2);
                font-weight: 500;
                flex: 1; 
                padding-left: 1rem;
            }

            &:not(:first-child):not(:last-child) {
                padding: 0.5rem 0;
            }
        }    
    }

    .kt-chart__widget_chart {
        position: relative;

        &.pie{
                width: 380px;
            }

        .kt-chart__widget_stat {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            font-size: 2.2rem;
            font-weight: 500;
            color: kt-base-color(label, 1);
            opacity: 0.7; 
        } 

        canvas {
            position: relative;
            z-index: 1;
        } 
    }    
} 

@include kt-mobile-sm {
    .kt-chart__widget{
        padding: kt-get($kt-portlet, space, mobile);

        .kt-chart__widget_legends {
            padding-left: 0.5rem;      
        }

        .kt-chart__widget_chart{
            &.pie{
                width: 315px;
            }
        }
    }


}