/frontend/admin/node_modules
/frontend/user/node_modules
/static
/account/migrations/*
/connect/migrations/*
/info/migrations/*
/item/migrations/*


!/account/migrations/__init__.py
!/connect/migrations/__init__.py
!/info/migrations/__init__.py
!/item/migrations/__init__.py

dist
mysqlclient-1.4.2-cp36-cp36m-win32.whl
db.sqlite3
.idea
.vscode
/debug_static
/env
*.pyc

# ignore .env files
/airbook/.env
.next
frontend/guest1
