.kt_section__detail{
  .kt_detail__item_title{
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: .4rem;
  }
}

select{
  &.approvals{
    option{
      background-color: #fff;
      color: #000;
      &:disabled{
        background-color: $input-disabled-bg;
      }
    }
  }
}

.form-input{
    display: block;
    height: calc(1.5em + 1.3rem + 2px);
    padding: 0.65rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(73, 80, 87);
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    border: 1px solid rgb(226, 229, 236);
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    box-sizing: border-box;
    width: 100%;
}