.rug .rug-handle:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border-radius: 4px;
  border-color: #5d78ff !important;
  border: 2px dashed #ebedf2;
}

.dzu-dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 120px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  transition: all .15s linear;
  border-color: #5d78ff !important;
  border: 2px dashed #ebedf2;
  border-radius: 4px;
}

.dzu-inputLabel,
.dzu-inputLabelWithFiles,
.dzu-previewFileName,
.dzu-submitButton {
  font-family: inherit;
}

.ReactGridGallery{
  .ReactGridGallery_tile {
      border: 2px solid #e5e5e5;
      border-radius: 9px;
      overflow: hidden;
      .ReactGridGallery_tile-viewport{
        img{
          object-fit: cover;
        }
      }
  }
}